.intro {
  margin: 50px;
  display: flex;
  justify-content: space-between;
}

img {
  width: 500px;
}


.heading {
  width: 30%;
  padding: 10px 0px;
}

.heading > h1 {
  font-family: "yorkie", Verdana, Tahoma;
}

@media (max-width: 1080px) {
  .intro {

    height: 550px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .heading {
    width: 100%;
    padding: 10px 0px;
  }

  img {
    width: 100%;
  }
}

@media (max-width:900px) {
  .myButton {
    width: inherit;
    height: 40px;
  }

  .intro {
    margin: 0px auto;
  }
}