.email {
  width: 90%;
}
section > h5 {
  font-family: "yorkie";
  font-size: larger;
}

.sub {
  font-size: smaller;
  margin: 10px 
}

.border {
  border: 2px solid black;
  height: 150px;
  width: 1px;
  margin: 0px 20px;
}

.newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 95%;
  margin: 30px auto;
  padding: 20px;
}

.newsletter > section > input{
  display: block;
  margin: 10px auto;
}

.newsletter > section {
  width: 37%;
}

@media (max-width: 678px) {
  .sub {
    font-size: small;
    padding: 5px;
    width: 90%;
  }

  .sub {
    font-size: xx-small;
  }

  .newsletter > section > p {
    font-size: xx-small;  }
}