h4 {
  font-family: "yorkie";
  font-size: larger;
  text-align: center;
  padding: 40px 0px;
}

.provisions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.provision__item{
  text-align: center;
  width: 250px;
}

.provision__item > .discover{
  font-weight: bold; 
  color: #653e3e;
}

.provision__item > p{
  font-size: 0.9rem
}

@media (max-width: 900px) {
  .provision__item{
  width: 300px;
  margin: 20px 0px;
  }

  .provisions {
    justify-content: space-around;
  }
}