.topbar {
  margin-top: 20px;
  padding: 10px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input {
  width: 40%;
  height: 40px;
  border-radius: 10px;
  border: 2px solid gray;
}

.logo > img {
  height: 40px;
  width: auto;
}

.logo > p {
  padding: 0px;
  margin: 0;
  font-size: xx-small;
  color: #653e3e;
  font-family: yorkie;
  text-align: center;
}

.signUp {
  display: flex;

}

@media (max-width: 1080px) {
  .topbar {
    margin-top: 0px;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  input {
    width: 30%;
    height: 30px;
    border-radius: 10px;
    border: 2px solid gray;
  }
}

@media (max-width: 678px) {
  .topbar {
    padding: 10px 20px;
    font-size:x-small;
  }

  .but {
    font-size: x-small;
    width: 50px;
    margin: 0px 10px;
  }

  input{
    width: 40%;
    height: 25px;
    font-size: x-small;
    border-radius: 2px;
  }


}