* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  background: #ffffff;
}

body {
  margin: 0;
}

.button {
  margin: 0 10px;
}

.white-button {
  border-radius: 7px;
  font-size: larger;
  height: 45px;
  width: 150px;
  background-color: transparent;
  border: 1px solid black;
}

.brown-button {
  border-radius: 7px;
  font-size: larger;
  height: 45px;
  width: 150px;
  background-color: #653e3e;
  color: white;
  border: none;
}

.brown-button:hover {
  cursor: pointer;
}

.white-button:hover {
  cursor: pointer;
}

@media (max-width: 1080px) {
  .white-button {
    font-size: large;
    height: 35px;
    width: 120px;
  }
  
  .brown-button {
    font-size: larger;
    height: 35px;
    width: 120px;
  }
  
}

@media (max-width: 678px) {
  .white-button {
    font-size: small;
    height: 25px;
    width: 100px;
  }
  
  .brown-button {
    font-size: small;
    height: 25px;
    width: 100px;
  }
}